root = true

[*]
end_of_line = lf

[{*.kt,*.kts}]
indent_style = space
indent_size = 4

ktlint_standard_package-name = disabled
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_function-naming = disabled
ktlint_class_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = 3
